img{
    width:100%;
}

.large-text{
    text-decoration: underline;
    color:#7b1a29;
    font-size: 1.5em;
}
.logo-text{
    color:#7b1a29;
    font-size: 1.5em;
}
.large-text-2{
    color:#7b1a29;
    font-size: 1.3em;
}
.com-text{
    color:#A31F37;
    font-weight: bold;
    font-size: 1.7em;
}
.concept{
    background-color: #EEEEEE;
}
.forte{
    background-color: white;
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1 / 1;
}
.forte img{
    width:20%;
}
.forte-text{
    font-size: 1.3rem;
}
.forte-f{
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    width:100%;
    margin: 1% 0;
}
.forte-f img{
    width: 25%;
    margin: 3% 10% 3% 10%;
    border-radius: 50%;
}
.text-content {
    flex-grow: 1;
}
.round{
    border-radius: 10%;
}
.circle{
    border-radius: 50%;
}
.logo{
    width: 70%;
}
.sevent{
    width: 70%;
}
.fivet{
    width:50%;
}

@media (max-width: 768px) {
    .sevent{
        width: 100%;
    }
    .fivet {
        width: 70%; /* スマホのときは70%に上書き */
    }
    h1{
        font-size:1.2rem;
    }
    h2{
        font-size:1.2rem;
    }
    h3 {
        font-size: 1.2rem; 
    }
    h4{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.5rem;
    }
    .large-text {
        font-size: 1.5rem;
    }
    .logo-text{
        font-size: 2rem;
    }
    .com-text{
        font-size: 1.5rem;
    }
    .forte-text{
    font-size: 0.5rem;
}
}
